body{
    font-family: serif;
    text-align: left;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, black, rgb(182, 94, 138));
    color: rgb(0, 0, 0);
}
.foto img{
    top: 20px;
    right: 20px;
    left: 5%;
    border-radius: 780px;
    border-color: rgb(238, 154, 206);
    border-style: groove;
}
    .container {
        display: flex;
        align-items: flex-start;
    }
    .foto {
        margin-right: 20px;
    }
    .info {
        max-width: 400px;
    }
    h1, h2, p {
        margin: 2;
    }
    ul {
        list-style-type: none;
        padding: 2;
    }
.button {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    border: 0px;
    cursor: pointer;
    outline: 0px;
    padding: 0 2px;
    font-weight: 500;
    font-size: 18px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  .instagram-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #E1306C; 
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.instagram-button:hover {
    background-color: #C13584; 
}

.email-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #221629;
    background-color: #d632d6; 
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-decoration: #221629;
}

.email-button:hover {
    background-color: #b30086;
}
input[type="checkbox"] {
    display: none;
  }
  
  label svg {
    width: 44px;
    height: 44px;
    fill: none;
    stroke: #000;
    stroke-width: 2px;
  }
  
  input[type="checkbox"]:checked + label svg {
    fill: #FFC107;
    animation: pop_42 0.5s ease-out;
  }
  
  @keyframes pop_42 {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.5);
    }
  
    100% {
      transform: scale(1);
    }
  }

  